<div class="container-fluid">

	<div class="row">

		<main> <ng-include src="'/SCF/views/menu.html'"></ng-include>

		<div class="save" ng-show="saved">
			<ng-include src="'/SCF/views/alertas.html'"></ng-include>
		</div>
		<ng-include src="'/SCF/views/valor/formularioValor.html'"></ng-include>
		<div class="save" ng-show="!saved">
			<ng-include src="'/SCF/views/alertas.html'"></ng-include>
		</div>
		<ng-include src="'/SCF/views/valor/tabelaValor.html'"></ng-include>





		</main>
	</div>



</div>