
<div class="menu "> 
	
	<ul class="nav nav-tabs nav-stacked ">
		<li class=""><a ui-sref="caixa"><img src="img/caixa_menu.png"/>&nbsp Fluxo Caixa</a></li>
		<li class=""><a ui-sref="tempo"><img src="img/tempos_ativos.png"/>&nbsp Tempos Ativos</a></li>
		<li class=""><a ui-sref="venda"><img src="img/vendas.png"/>&nbsp Realizar Venda</a></li>
		
		<li><a ui-sref="maquina"><img src="img/maquinas.png"/>&nbsp Máquinas</a>
		
			<!-- <ul class="dropdown-menu">
				<li class=""><a ui-sref="home"><span>&nbsp  Cadastrar Nova</span></a></li>
				<li class=""><a href=""><span>&nbsp Modificar</span></a></li>
								
			</ul>
			-->
		</li>
		<li><a ui-sref="produto"><img src="img/produtos.png"/>&nbsp Produtos</a></li>
		<li><a ui-sref="valor"><img src="img/valor_hora.png"/>&nbsp Valor da Hora</a></li>
				
		<li><a ui-sref="historico-produtos"><img src="img/historico_produtos.png"/>&nbsp Histórico Produtos</a></li>
		<li><a ui-sref="historico-tempos"><img src="img/historico_tempos.png"/>&nbsp Histórico Tempos</a></li>			
		<li><a ui-sref="suporte"><img src="img/suporte_tecnico.png"/>&nbsp Suporte Técnico</a></li>			
	
					
	</ul>
		
</div>