body {
	background-color: #E9EAED;
}

.container-fluid {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.menu {
	background-color: #26bad9;
	width: 20%;
	height: 100%;
	float: left;
	box-shadow: 1px 1px 1px black;
	position: fixed;
}

main a {
	color: white;
}

.dropdown-menu {
	padding: 0;
}

.dropdown-menu  li ul {
	display: none;
}

main ul .dropdown-menu {
	top: 1px;
	left: 99%;
	width: 80%;
	height: 80%;
}

main li:hover .dropdown-menu {
	display: block;
	position: absolute;
}

main ul li .dropdown-menu  li a {
	height: 100%;
	display: block;
	text-decoration: none;
	color: white;
	background-color: #0099ff;
}

main ul li .dropdown-menu  li:hover a {
	display: block;
	text-decoration: none;
	color: #02a5fd;
}

main li .dropdown-menu li {
	background-color: #26bad9;
	position: relative;
	border-bottom: 1px solid #E9EAED;
	border-left: 1px solid #E9EAED;
	box-shadow: 1px 1px 1px black;
}

main li:hover .dropdown-menu li {
	background-color: #26bad9;
	position: relative;
}

main ul li .dropdown-menu li:hover {
	background-color: #0099ff;
	display: block;
}

.btn-tempo {
	float: left;
	width: 10%;
	margin: 0 auto;
	height: 4%;
	margin-top: 3%;
	margin-left: 25%;
}

.btn-produto {
	float: right;
	width: 10%;
	margin: 0 auto;
	height: 4%;
	margin-top: 3%;
	margin-right: 53%;
}

#form-maq-cad, #form-prod-cad, #form-valor, #form-tempo, #form-prod {
	width: 70%;
	height: 30%;
	float: right;
	margin: 0 auto;
	margin-right: 5%;
	margin-top: 1%;
	background-color: white;
	box-shadow: 1px 1px 1px 1px black;
}

#form-venda {
	width: 70%;
	float: right;
	margin: 0 auto;
	margin-right: 5%;
	margin-top: 1%;
}
#form-venda .btn-add{
	margin-top:8%;
}
 #form-tempo{
	
	height: 35%;
	
}
#form-maq-cad h4 p, #form-prod-cad h4 p, #form-valor h4 p, #form-tempo h4 p,
	#form-prod h4 p {
	color: black;
	border-bottom: 1px ridge #CCCCCC;
	margin: 2%;
}

#table-maq, #table-prod, #table-valor, #table-tempo, #table-hist-temp,
	#table-hist-prod {
	width: 70%;
	height: auto;
	margin-top: 5%;
	float: right;
	margin-right: 5%;
	box-shadow: 1px 1px 1px black;
}

#table-caixa{
	width: 95%;
	float: right;
	margin-right: 5%;
	box-shadow: 1px 1px 1px black;
	margin-top: 0.5%;
}

.carregando {
	margin-top: 6%;
	margin-right: 35%;
	float: right;
}

.paginacao {
	float: right;
	margin-right: 35%;
}

main .table th {
	background-color: #26bad9;
	text-align: center;
}

#table-maq th, #table-prod th, #table-valor th, #table-tempo th {
	font-size: 15px;
	font-weight: bold;
}

#table-tempo button {
	margin: 3%;
}

.table-bordered {
	border: 1px solid #78877d;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th,
	.table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td,
	.table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: 1px solid #78877d;
}

.table {
	background-color: white;
}

.table>tbody>tr.fimTempo>td {
	background-color: #EE6363;
}

#tabelaMaquinaIndividual th {
	font-size: 10px;
}

a:hover, button:hover {
	cursor: pointer;
}

.modal-body {
	height: 400px;
	margin-top: 3%;
	margin-bottom: 3%;
}

#table-modal {
	max-height: 380px;
	overflow: auto;
}

.sub-item h4{
	border-bottom:1px solid black;
}


.sub-item  td {
	text-align: center;
}

.save{
	width: 70%;
	float: right;
	margin: 0 auto;
	margin-right: 5%;
	margin-top: 1%;
}

.carregar{
	cursor:Wait;
}
input{
	text-transform:uppercase;	
}

.qtd-objetos{
	float:right;
	margin-top: 8%;
	margin-right:5%;
	width: 70%;
}
.titulo{
	float:right;
	margin-right:5%;
	width: 70%;
	margin-top:2%;
	border-bottom:1px solid black;
}

.subtitulo{
	float:right;
	margin-right:5%;
	width: 70%;
	color:red;
}
#table-hist-temp, #table-hist-prod{
	margin-top:1%;
}

 .form-erro{
 	float:right;
	margin-right:5%;
	width: 70%;
	margin-top:5%;
 }
 
 .tempo-livre{
 	margin:1.5%;
 }
 .tabs-produto {
	width: 70%;
	float: right;
	margin: 0 auto;
	margin-right: 5%;
	margin-top: 4%;
}

.nav.nav-pills a{
	color:#0080ff;
}

#table-prod {
	margin-top: 1%;
}

.tabs-produto li{
	background-color:#d6d6d6;	
}

.caixa{
	width: 55%;
	float: right;
	margin-top: 2%;
}

.caixa img{
	max-height: 250px;
	margin-bottom: 5%;
}

.caixa-tabela{
	width: 70%;
	float: right;
	margin: 0 auto;
	margin-right: 5%;
	margin-top: 4%;
}

.caixa-tabela ul li{
	background-color:#d6d6d6;
}

.caixa .input-group{
	margin-left: -3%;
}

.caixa-tabela .nav-tabs a{
	color:#0080ff;
}

.caixa-tabela .btn-add{
	margin-top:2.7%;
}
#form-movimentacao{
	margin-top: 1%;
}

.valores-caixa{
	margin-top: -42%;
}

.caixa .valores-caixa tfoot{
	background-color:#93DDEC;
}