
<form id="form-prod-cad">

	<h4>
		<p>Cadastro De Produto</p>
	</h4>
	<div class="input-group  col-md-12 ">

		<div class="form-group col-md-4">
			<label for="nomeProd">Nome</label> <input type="text" id="nomeProd"
				class="form-control" placeholder="Nome do produto"
				ng-model="produto.nome" uppercased/>
		</div>

		<div class="form-group col-md-4">
			<label for="preProd">Preço</label> <input type="text" id="preProd"
				class="form-control" placeholder="EX:(2.50 ou 0.50)..."
				ng-model="produto.preco" />

		</div>
		<div class="form-group col-md-4">
			<label for="preProd">Tipo</label> <select class="form-control"
				ng-model="produto.tipo"
				ng-options="tipoProd for tipoProd in tipoProduto">
				<option value="">Selecione um Tipo</option>
			</select>

		</div>
	</div>

	<div class="input-group">
		<div class="form-group col-md-4">
			<button class="btn btn-info" ng-click="salvarProduto(produto)">Salvar</button>
		</div>
	</div>
</form>

