<div class="row">

	<div class="col-md-3 col-md-offset-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<strong><h4>Configuração do Relatório</h4></strong>
			</div>
			<div class="panel-body">
				
					<ul>
						<li><input type="checkbox" class=""> Dados <span
							class="
glyphicon glyphicon-chevron-down"></span></li>
						<li>
							<ul>
								<li><input type="checkbox" class=""> Maquina</li>
								<li><input type="checkbox" class=""> Produto</li>
							</ul>
						</li>

						<li><input type="checkbox" class=""> Data <span
							class="
glyphicon glyphicon-chevron-down"></span></li>
						<li>
							<ul>
								<li><input type="checkbox" class=""> Ano</li>
								<li><input type="checkbox" class=""> Mês</li>
								<li><input type="checkbox" class=""> Dia</li>
							</ul>
						</li>
					</ul>
			
			</div>
		</div>









	</div>




</div>